/* button input container  */
.buttoninput{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* input box css  */
input[type=text]{
    width:50%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }

  /* button css  */
  /* body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #0c1024;
} */
/* .container {
	max-width: 1280px;
	height: 100vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
} */
.button {
	width: 140px;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}
.hover-btn {
	background-color: #007b8c;
}
.hover-btn span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	transition: 0.5s;
}
.hover-btn span::after {
	position: absolute;
	content: "\00bb";
	opacity: 0;
	top: 0;
	right: -25px;
	transition: 0.5s;
}
.hover-btn:hover span {
	padding-right: 25px;
}
.hover-btn:hover span::after {
	opacity: 1;
	right: 0;
}
.cmtred{
    color: red;
}
.cmtgreen{
    color: green;
}